{% extends "base.html" %}
{% load static %}
{% block title %}Главная{% endblock title %}
{% block content2 %}
    <div id="jumbo3" class="jumbotron">
        <h1>Добро пожаловать в мою социальную сеть!</h1>
        <hr class="my-4">
        <div class="container">
            <p>Доступные возможности:</p>
            <ul>
                <li>Профиль
                    <ul type="circle">
                        <li>Просматривать профиль (свой или другого пользователя)</li>
                        <li>Редактиировать свой профиль</li>
                        <li>При желании удалить свой аккаунт</li>
                    </ul>
                </li>
                <li>Сообщения
                    <ul type="circle">
                        <li>Отправлять сообщения пользователям</li>
                        <li>Удалять сообщения</li>
                        <li>Удалять диалоги</li>
                    </ul>
                </li>
                <li>Пользователи
                    <ul type="circle">
                        <li>Искать пользователей среди списка и добавлять их в друзья</li>
                        <li>Просматривать свой список друзей</li>
                        <li>Удалять из друзей</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}